# Copy this file to .env and replace variables with real values

# Definir carpetas a ser utilizadas
CARPETA_DATOS="d:/subseasonal_SISSA/datos/"
CARPETA_FIGURAS="d:/subseasonal_SISSA/figuras/operativo/"

# OBS:
# To substitute/evaluate environment variables in docker-compose.yml,
# this file must be named .env, otherwise replacement will not work.
